python-dotenv==1.0.0
openai==2.22.0
langchain==1.0.5
langchain-core==1.2.15
langchain-openai==1.1.10
langchain-community==0.4.1
langchain-classic==1.0.1
langchain-text-splitters==1.1.1
tiktoken==0.12.0
faiss-cpu==1.12.0
streamlit==1.51.0
streamlit-drawable-canvas==0.9.3
audiorecorder==0.1
youtube-transcript-api==1.2.3
pytube==15.0.0
requests==2.32.5
gTTS==2.5.4
beautifulsoup4==4.13.4
PyPDF2==3.0.1
lxml==6.0.0
graphviz==0.21
matplotlib==3.10.3
finance-datareader==0.9.96
mpl-finance==0.10.1
opendartreader==0.2.3
st-chat-message==0.3.8
pandas==2.3.0
numpy==2.3.4
